version: '2'
services:
  frontend:
    build: ./frontend
    expose:
      - "80"
  proxy:
    build: ./haproxy
    ports:
      - "80:80"
  data1:
    build: ./data1
    expose:
      - "8080"
  wpe:
    build: ./wpe
    depends_on:
      - proxy
    privileged: true
    environment:
      WPE_URL: http://data1.haproxy/
