global
        maxconn 4096
        
defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        option http-server-close
        option forwardfor
        maxconn 2000
        timeout connect 5s
        timeout client  15min
        timeout server  15min

frontend http
        bind *:80
        use_backend backet_data1 if { path_beg /socket/ }
        default_backend backend_static_server

backend backend_static_server
mode http
option forwardfor
balance roundrobin
server static_1 frontend:80 check port 80

backend backend_data1
mode http
option forwardfor
balance roundrobin
server api_1 data1:8080 check port 8080